#skills {
    overflow: hidden;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillText {
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    animation: fadeIn ease-in-out 2s forwards;
}

.circle-wrap {
    float: left;
    margin: 2rem;
    width: 200px;
    height: 200px;
    background: #ddc7b9;
    border-radius: 50%;
}

.circle-wrap .circle .mask,
.circle-wrap .circle .fill {
    width: 200px;
    height: 200px;
    position: absolute;
    border-radius: 50%;
}

.circle-wrap .circle .mask {
    clip: rect(0px, 200px, 200px, 100px);
}

.circle-wrap .circle .mask .fill {
    clip: rect(0px, 100px, 200px, 0px);
    background-color: #002542;
}

.circle-wrap.thirdPercentage .circle .mask.full,
.circle-wrap.thirdPercentage .circle .fill {
    animation: thirdPercentage ease-in-out 1.5s forwards;
}

.circle-wrap .inside-circle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    background-color: #002542;
    z-index: 1;
    font-weight: 700;
    font-size: 2em;
    text-align: center;
}

@keyframes thirdPercentage {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(180deg);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.headerTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillCard {
    padding: 2em !important;
    background: rgb(50, 50, 50);
    color: white;
    height: 100%;
    border-radius: 0.5rem;
}

.skillDesc {
    font-weight: 400;
    font-size: 1rem;
    max-width: 51rem;
    padding: 0 2rem;
}

.skillBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
}

.skillBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width:720px) {
    .skillBarText>p {
        font-size: 2vw;
    }
}

@media screen and (max-width:480px) {
    .skillBarText>p {
        font-size: 3vw;
    }
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarText>h2 {
        font-size: 5vw;
    }
}