#about {
    overflow: hidden;
    padding-top: 2rem;
    width: 100vw;
    max-width: 65rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
}

.skillText {
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 500;
    animation: fadeIn ease-in-out 2s forwards;
}

.headerTitle {
    font-size: 3rem;
    font-weight: 600;
    padding-top: 3rem;
    margin-bottom: 1.5rem;
}

.skillCard {
    padding: 2em !important;
    background: rgba(177, 203, 227, 0.5);
    color: white;
    height: 100%;
    border-radius: 0.5rem;
}

.experienceBars {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
}

.skillBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.experienceBar {
    display: flex;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
}

.experienceBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
}

@media screen and (max-width:480px) {
    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }
    .skillBarHeaderText {
        font-size: 5vw;
    }
}